/* Estilo para la tarjeta del jugador */
.card {
  background-color: rgb(109, 140, 192);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(116, 116, 116, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  background-color: #313a45e2 !important; /* Color de fondo blanquecino */
  border: 1.5px solid #4e77ad !important; /* Borde gris más delgado */
  color: white !important;
  margin: 10px;
  border-radius: 23px !important;
  height: fit-content !important;
}

.player-container{
  flex-direction: row;
}
.attr-container{
  margin-left: 8px;
}

.attr-class{
  margin-top: 10px;
  border-radius: 8px;
  padding: 6px;
  color: rgb(0, 0, 0);
  background-color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}

.position-container{
  border-radius: 8px;
  padding: 6px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

/* Estilo para las estadísticas */
.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar las estadísticas */
}

.stat-item {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 3px;
  background-color: #202b43; /* Fondo blanco para las cajitas de estadísticas */
  border: 1px solid #ccc; /* Borde gris más delgado */
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.stat-value {
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.stat-value-good {
  background-color: #008000; /* Verde oscuro para valores buenos */
  color: #fff;
}

.stat-value-bad {
  background-color: #FF0000; /* Rojo para valores malos */
  color: #fff;
}

/* Otros estilos */
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 10px;
}

.img-container {
  display: flex;
  justify-content: flex-end;
}

.card-img-top {
  max-width: 200px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(68, 95, 115, 0.15);
}

@import url('https://fonts.googleapis.com/css2?family=DIN+Condensed:wght@700&display=swap');


/* Estilo para las estadísticas */
.stat-item {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  margin: 0px;
  background-color: #353a45e7; /* Fondo gris-negro */
  border: 1px solid #3f4b5b; /* Borde gris más delgado */
  color: #fff; /* Texto blanco */
  font-family: 'DIN Condensed', Arial, sans-serif;
}

.stat-info.zero .stat-value {
  color: #ffffff; /* Texto negro para 0 */
}

.stat-info .stat-name {
  font-weight: bold;
  font-size: 16px; /* Tamaño de fuente más grande */
}

.stat-info .stat-label {
  font-size: 16px; /* Tamaño de fuente para la etiqueta de puntos */
}

.stat-info .stat-value {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 17px; /* Tamaño de fuente más grande */
}

/* Estilo para los valores en verde o rojo */
.positive {
  color: rgb(28, 162, 28); /* Color de texto verde */
}

.negative {
  color: rgb(224, 75, 75); /* Color de texto rojo */
}

.stats-button{
  background-color: #1e2d41 !important;
  color: white !important;
}

.button-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-text {
  flex: 1; /* Este span ocupará el espacio restante */
}

.fadeInOutAnimation {
  animation: fadeInOut 0.4s ease-in-out;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}






